@font-face {
    font-family: 'RetroGaming';
    src: url('Font/RetroGaming.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: rgba(0, 255, 221, 1) !important;
    --default-font: 'RetroGaming' !important;
}

/* Padrões do site */
html {
    scroll-behavior: smooth;
    scrollbar-color: var(--main-color) rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    overflow-x: hidden;
}
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    font-family: var(--default-font), Verdana, Geneva, Tahoma, sans-serif;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

img {
    outline: none;
}

img {
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style-type: none;
  }
  
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
}

a.animated {
    animation: link 2s infinite;
}

a:hover {
    color: #b7b2ff;
    animation: link 2s infinite;
}

p {
    color: white;
    font-size: 1.3em;
}

h1{
    font-size: 3em;
    text-transform:uppercase;
    z-index: 3;
}

body {
    color: white;
    line-height: 1.6;
    font-size: 1em;
    
    background-image: url("../imgs/Astral/estrelas.png") !important;
    background-color: #15144B;
    background-repeat: repeat-y !important;
    background-position: center !important;
    background-size: 100% !important;
}

/* Personalizar a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 102, 88, 0.9);
}

/* Loading */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.visible {
    opacity: 1;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#progress-bar {
    width: 0;
    height: 20px;
    background-color: var(--main-color);
    transition: width 0.5s ease;
}

.pulse {
    animation: pulse 0.5s ease-in-out forwards;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Header + Opções */
.options {
    display: none;
}

header {
    width: 100%;
    height: 12vh;
    top: 0;
    display: flex;
    align-items: center;
    position: fixed;

    background-color: rgba(0, 0, 0, 0.7);
    border-top: 6px double var(--main-color);
    border-bottom: 6px double var(--main-color);
    animation: glow 3s infinite;
    color: var(--main-color);

    z-index: 10;
}

header ul {
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    height: 100%;
}

.navbar li {
    padding: 0 25px;
    font-size: 1.3em;
    text-transform: uppercase;
    border-right: 2px solid white;
}

.navbar li:last-child {
    border-right: none;
}

#language {
    max-width: 100%;
    background: rgba(9, 0, 48, 0.7) !important;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#language hr {
    width: 3px;
    height: 80%;
    background: white;
    margin: 0 10px; 
}

#languageFlag {
    max-width: 60px;
    max-height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: help;
}

#languageFlag img {
    width: 100%;
    height: auto;
}

#ddlLanguage {
    flex: 1;
    color: white;
    border: none;
    font-size: 17px;
    background: rgba(9, 0, 48, 0.7) !important;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    min-width: 95px;

    appearance: none;
}

/* Main - Logo */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2vh;
}

.logo {
    width: 100% !important;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

.logo img {
    width: 50%;
}

.effect {
    background-color: white !important;
    border-radius: 50px;
    position: absolute;
    width: 12vh;
    height: 12vh;
    left: 28.5%;
    animation: blink 3s infinite;
}

/* Trailer */
.trailer {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    width: 45%;
    height: 100%;
    border-radius: 20px;
    border: 2px double var(--main-color);
    animation: glow 3s infinite;
    color: var(--main-color);
    background-color: black;
    position: relative;
}

.essence-column {
    position: absolute;
    max-width: 100%;
}

.essence-column img {
    width: 45%;
    max-width: 50%;
    margin-bottom: 4vh;
}

/* LEFT */
#essenleft {
    right: 100%;
    width: 12%;
    transform: scaleX(-1) !important;
}

#minileft {
    margin-left: 3vh;
}

#midleft {
    margin-left: 8vh;
}

#microleft {
    margin: 2vh 0 4vh 4.5vh;
}

#normalleft {
    margin-left: 2vh;
}

/* RIGHT */
#essenright {
    left: 100%;
    width: 12%;
}

#normalright {
    margin-left: 7.5vh;
}

#medright {
    margin: 2vh 0 0 2vh;
}

#miniright {
    margin: 2vh 0 0 6.5vh;
}

#microright {
    margin-left: 10px;
}

iframe {
    border-radius: 20px;
    width: 100%; 
    height: 100%;
    cursor: pointer;
}

/* Campanha */
.campanha {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 5vh 10vh;
    text-align: center;
}

.campanha h1 {
    padding-bottom: 3vh;
}

.campanha span {
    padding-top: 7vh;
}

.sinopse {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imgCamp {
    width: 100%;
}

.imgCamp img {
    width: 65%;
    height: auto;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.158);
    animation: glow 3s infinite;
    color: rgba(255, 255, 255, 0.253);
    transition: transform 0.5s ease;
}

.btn {
    width: 100%;
    height: 20vh;
}

.btn p {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #E86666;
}

#btnCamp {
    background-image: url('../imgs/Buttons/campButton.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    cursor: pointer;
    max-width: 80%;
    width: 53vh;
    height: 14vh;
    border-radius: 20px;
    border: none;
    animation: glow 3s infinite;
    background-color: rgba(255, 0, 0, 0.25);
    color: rgba(255, 0, 0, 0.600);
    transition: transform 0.5s ease;
    transform: scale(1);
}

.imgCamp img:hover {
    transform: scale(1.05);
}

#btnCamp:hover {
    background-image: url('../imgs/Buttons/campButtonhover.png') !important;
    transform: scale(1.15);
}

#btnCamp:active {
    background-image: url('../imgs/Buttons/campButtonPress.png') !important;
}

.micred {
    position: absolute;
    width: 5vh;
}

#btnmicro-left {
    top: 0;
    left: 0;
}

#btnmicro-right {
    bottom: 6px;
    right: 8px;
}

/* Redes Sociais */
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    margin: 2vh;
}

.social a {
    transition: transform 0.6s ease;
    animation: none;
    z-index: 3;
}

.social a.animated {
    transform: scale(1);
}

.social a:hover {
    transform: scale(1.15);
}

.redes {
    display: flex;
    flex-direction: row;
}

.redes a {
    padding-right: 2vh;
}

#dash {
    width: 13%;
    position: absolute;
    left: 1%;
    animation: moving 4s infinite;
    z-index: 1;
}

/* Sobre o Jogo */
.sobre {
    width: calc(100% + 4vh);
    padding: 5vh;
    position: relative;
    left: -2vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.800);
}

.jogo {
    width: 40%;
    padding: 0 3vh;
    text-align: center;
}

.jogo img {
    max-width: 80%;
    border-radius: 20px;
    border: solid 2px rgba(31, 31, 75, 0.5);
    animation: glow 3s infinite;
    color: rgb(31, 31, 75);
    transition: transform 0.5s ease;
}

#Plyun:hover {
    transform: scale(1.1);
}

.jogoTxt {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 5vh;
    font-size: 0.8em;
}

.jogoTxt h1, .jogoTxt p {
    padding-bottom: 5vh;
}

.jogoTxt h1 {
    white-space: nowrap;
}

/* Screenshots */
.screenshots {
    width: 100%;
    padding: 5vh;
    margin-top: 10vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fotos-column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fotos-row {
    padding-top: 3vh;
    display: flex;
    justify-content: space-around;
}

.print {
    width: 30%;
    height: 50%;
    margin: 3vh;
}

.print img {
    max-width: 70%;
    max-height: 50%;
    border-radius: 20px;
    border: 2px double var(--main-color);
    animation: glow 3s infinite;
    color: var(--main-color);
}

/* Perguntas Frequentes - FAQ */
.faq {
    width: 100%;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.faq a {
    text-decoration: underline;
    padding-bottom: 3vh;
}

#drink {
    width: 15%;
    position: absolute;
    left: 3%;
    animation: plyun 3s infinite ease-in-out;
    z-index: 1;
    margin-bottom: 35vh;
}

.quests-row {
    width: 100%;
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
}

.quests-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 3;
    margin: 1vh;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto; 
    padding: 2vh;
    padding-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: static;
    border-top: 6px double var(--main-color);
    animation: glow 3s infinite;
    color: var(--main-color);
}

footer .logo {
    padding: 5vh;
    height: auto;
}

footer .logo img {
    width: 30%;
}

footer hr {
    width: 50%;
    height: 3px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), #ffffff, #ffffff, rgba(0, 0, 0, 0.7));
    border: none;
    margin-bottom: 5vh;
}

footer p {
    font-size: 0.8em;
}

.contato a p {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.35em !important;
    margin-bottom: 3vh;
}

#music {
    width: 15%;
    position: absolute;
    right: 3%;
    animation: dance 4s infinite linear;
    z-index: 1;
    margin-top: 5vh;
}

/* Animações */
@keyframes link {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    to {
        transform: scale(1);
    }
}

@keyframes blink {
    from {
        opacity: 0.1;
        box-shadow: 0 0 20px rgb(148, 148, 148), 0 0 25px rgb(148, 148, 148), 0 0 30px rgb(148, 148, 148);
    }
    50% {
        opacity: 0.3;
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }
    to {
        opacity: 0.1;
        box-shadow: 0 0 20px rgb(148, 148, 148), 0 0 25px rgb(148, 148, 148), 0 0 30px rgb(148, 148, 148);
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 20px currentColor;
    }
    50% {
        box-shadow: 0 0 10px currentColor;
    }
    to {
        box-shadow: 0 0 20px currentColor;
    }
}

@keyframes plyun {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes moving {
    from {
        left: -50%;
    }
    to {
        left: 150%;
    }
}

@keyframes dance {
    from {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(25deg);
    }
    30%{
        transform: rotate(-25deg);
    }
    45% {
        transform: rotate(25deg);
    }
    60%{
        transform: rotate(-25deg);
    }
    75% {
        transform: rotate(25deg);
    }
    90%{
        transform: rotate(-25deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* Responsividade (Mobile)*/
@media screen and (max-width: 950px) {
    #btnCamp {
        height: 11vh;
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        margin: 0;
    }

    #drink {
        left: 1%;
    }

    #music {
        display: none !important;
    }
}

@media screen and (min-width: 810px) and (max-width: 1000px) {
    .navbar {
        transform: scale(1) !important;
    }

    .logo {
        height: 25vh !important;
    }

    footer .logo img {
        width: 80% !important;
    }

    #drink {
        margin-bottom: 50vh !important;
    }

    .imgCamp img {
        max-width: 85% !important;
    }

    #btnCamp {
        max-width: 55% !important;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        transform: scale(0.45) !important;
    }

    #language hr {
        margin: 0;
        width: 0;
    }
}

@media screen and (max-width: 810px) {
    * {
        font-size: 1em;
        letter-spacing: 0;
    }

    h1 {
        font-size: 2.3rem;
    }

    .options {
        position: fixed;
        display: flex;
        width: 100%;
        text-decoration: none;
        font-size: 3.5vh;
        z-index: 20;
    }
    
    .options a {
        color: white;
    }
    
    .return {
        position: fixed;
        right: 2vh;
        width: 6vh;
        height: 7vh;
        text-align: center;
        border-radius: 50px;
        background: black;
        border: 4px double var(--main-color);
        color: var(--main-color);
        animation: glow 3s infinite;
        bottom: 2vh;
        opacity: 0.7;
    }

    .return:active {
        opacity: 1;
    }

    header {
        height: 9vh;
    }

    #home {
        overflow: hidden;
        display: none !important;
        width: 0px !important;
    }

    .navbar :first-child {
        border: none;
        padding: 0;
    }

    .navbar {
        transform: scale(0.6);
        width: 0;
        padding: 0;
    }

    .navbar ul {
        transform: scale(0.93);
        left: 0;
        width: 100%;
    }

    .logo {
        height: 20vh;
    }

    main .logo {
        margin-top: 3vh;
    }

    main .logo img {
        width: 100%;
        padding-top: 0;
        margin-bottom: 5vh;
        padding: 5px 20px;
    }

    footer .logo img {
        width: 100%;
    }

    footer hr {
        width: 70%;
        margin-bottom: 2vh;
    }

    footer p {
        font-size: 0.7rem;
    }

    .contato a p {
        font-size: 0.8em !important;
    }
    
    .effect {
        overflow: hidden;
        opacity: 0;
        animation: none;
    }

    .trailer {
        height: 35vh;
        z-index: 3;
    }

    .video {
        width: 75%;
        height: 80%;
    }

    .campanha {
        padding: 0vh 0 8vh;
    }

    .campanha p {
        font-size: 0.85em;
    }

    .imgCamp img {
        width: 100%;
    }

    .social {
        justify-content: center;
        margin: 0;
    }

    .social a {
        padding-right: 0;
        animation: none;
    }

    .social img {
        width: 80%;
    }

    .redes {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #dash {
        width: 30%;
    }

    .sobre {
        flex-direction: column;
        padding: 4vh 2vh;
    }

    .jogo, .jogoTxt {
        width: 100%;
    }

    .jogo {
        padding: 2vh;
    }

    .jogoTxt {
        padding: 0 2vh;
    }

    .screenshots {
        padding: 2vh;
    }

    .fotos-row {
        padding-top: 2vh;
    }

    .print {
        max-width: 100%;
        height: 50%;
        margin: 1.2vh;
    }

    .print img {
        max-width: 100%;
        max-height: 100%;
    }

    .faq {
        padding: 0;
    }

    .faq p {
        font-size: 0.9em;
    }

    .quests-column {
        width: 50%;
        margin-right: 1.5vh;
    }

    #drink {
        width: 30%;
        margin-bottom: 60vh;
    }
}